{% extends 'base.html.twig' %}

{% block title 'Edition Compétence' %}

{% block body %}
    <div class="container" style="margin-top: 150px">
        <h1 class="title is-2">Editon</h1>
        {{ form_start(formcompetences, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(formcompetences.language) }}
            {{ form_row(formcompetences.percentage) }}
            {{ form_row(formcompetences.color) }}
            <button class="button is-primary">Editer</button>
        {{ form_end(formcompetences) }}
    </div>
{% endblock %}