{% extends 'base.html.twig' %}

{% block title 'Edition Portfolio' %}

{% block body %}
    <div class="container" style="margin-top: 150px">
        <h1 class="title is-2">Edition</h1>
        {{ form_start(formportfolio, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(formportfolio.imageFile) }}
            {{ form_row(formportfolio.titre) }}
            {{ form_row(formportfolio.url) }}
            {{ form_row(formportfolio.description) }}
            {{ form_row(formportfolio.tags) }}
            <button class="button is-primary">Editer</button>
        {{ form_end(formportfolio) }}
    </div>
{% endblock %}