{% extends 'base.html.twig' %}

{% block title 'Portfolio' %}

{% block body %}
    <div class="container" style="margin-top: 150px">
        <h1 class="title is-2">Bienvenue sur la section Portfolio</h1>
        {% for message in app.flashes('succes') %}
        <div class="notification is-success">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}

        <table class="table" style="margin-top: 50px">
                <h2 class="title is-3" style="margin-top: 50px">Liste Portfolio</h2>
                <thead>
                <tr>
                    <th>image</th>
                    <th>titre</th>
                    <th>url</th>
                    <th>description</th>
                </tr>
                </thead>
                </tbody>
                {% for portfolio in portfolio %}
                <tr>
                    <td>{{ portfolio.imageFile }}</td>
                    <td>{{ portfolio.titre }}</td>
                    <td>{{ portfolio.url }}</td>
                    <td>{{ portfolio.description }}</td>
                    <td><a href="{{ path('PortfolioAdmin.editportfolio', {id: portfolio.id}) }}" class="button is-primary">Edition</a></td>
                    <td>
                        <form method="post" action="{{ path('PortfolioAdmin.deleteportfolio', {id: portfolio.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button  class="button is-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for portfolio in portfolio %}
            <a href="{{ path('PortfolioAdmin.createportfolio', {id: portfolio.id}) }}" class="button is-primary">Nouveau Portfolio</a>
            {% endfor %}
        </table>
    </div>
{% endblock %}