{% extends 'base.html.twig' %}

{% block title 'Nouvelle Experiences' %}

{% block body %}
    <div class="container margetop">
        <a href="/admin/Experiences" class="button is-primary margebottom">
            <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Retour</span>
        </a>
        <h1 class="title is-2">New</h1>
        {{ form_start(formexperiences, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(formexperiences.DateDebut) }}
            {{ form_row(formexperiences.DateFin) }}
            {{ form_row(formexperiences.description) }}
            <button class="button is-primary">Créer</button>
        {{ form_end(formexperiences) }}
    </div>
{% endblock %}