{% extends 'base.html.twig' %}

{% block title 'A Propos' %}

{% block body %}

        <div class="container" style="margin-top: 150px">
            <h1 class="title is-2">Bienvenue sur la Section A Propos</h1>
            {% for message in app.flashes('succes') %}
            <div class="notification is-success">
                <button class="delete"></button>
                {{ message }}
            </div>
            {% endfor %}
            <a href="{{ path('aProposAdmin.edition', {id: aproposId.id}) }}" class="button is-primary is-large">Edition section a Propos</a>

            <table class="table" style="margin-top: 50px">
                <h2 class="title is-3" style="margin-top: 50px">Liste icônes de loisirs</h2>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nom icône</th>
                </tr>
                </thead>
                </tbody>
                {% for hobbies in hobbies %}
                <tr>
                    <td>{{ hobbies.name }}</td>
                    <td>{{ hobbies.iconName }}</td>
                    <td><a href="{{ path('aProposAdmin.edithobbies', {id: hobbies.id}) }}" class="button is-primary">Edition</a></td>
                    <td>
                        <form method="post" action="{{ path('aProposAdmin.deletehobbies', {id: hobbies.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button  class="button is-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('aProposAdmin.createhobbies', {id: aproposId.id}) }}" class="button is-primary">Nouveau hobbie</a>
        </div>
{% endblock %}




            
                 
    