{% extends 'base.html.twig' %}


{% block title 'Edition' %}

{% block body %}
    <div class="container" style="margin-top: 150px">
        <h1 class="title is-2">Edition</h1>
        {{ form_start(form, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(form.content) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.imageFile) }}
            <button class="button is-primary">Editer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}