{% extends 'base.html.twig' %}


{% block title 'Edition' %}

{% block body %}
    <div class="container margetop">
        <a href="/admin/Apropos" class="button is-primary margebottom">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>Retour</span>
        </a>
        <h1 class="title is-2">Edition</h1>
        {{ form_start(form, {'attr': { 'novalidate': 'novalidate' }}) }}
            {{ form_row(form.content) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.imageFile) }}
            {{ form_row(form.cvFile) }}
            <button class="button is-primary">Editer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}