<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {% endblock %}
    </head>

    <body>

        <header>
            <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="{{ path('homepage') }}"><img class="navbar-item logo" src="{{ asset('build/images/logo.png') }}" alt="logo"></a>
                    </div>
                    <div class="navbar-menu has-text-centered">
                        <div class="navbar-end">
                            <a href="#" class="navbar-item">
                                <i class="fas fa-home"></i>
                            </a>
                            <a href="#" class="navbar-item">A propos</a>
                            <a href="#" class="navbar-item">Compétences</a>
                            <a href="#" class="navbar-item">Expériences/Diplômes</a>
                            <a href="#" class="navbar-item">Portfolio</a>
                            <a href="#" class="navbar-item">Contact</a>
                            {% if app.user %}
                                <a href="{{ path('logout') }}" class="navbar-item">déconnexion</a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="MenuIcon">
                            <div id="MenuLine"></div>
                    </div>

                    <div id="MainMenu">
                        <div id="logobis"><img src="{{ asset('build/images/logo.png') }}" alt="logo"></div>
                        <ul>
                            <li><i class="fas fa-home"></i><div href="#" class="line"></div></li>                                   
                            <li>A propos<div href="#" class="line"></div></li>
                            <li>Compétences<div href="#" class="line"></div></li>
                            <li>Expériences/Diplômes<div href="#" class="line"></div></li>
                            <li>Portfolio<div href="#" class="line"></div></li>
                            <li>Contact<div href="#" class="line"></div></li>
                            {% if app.user %}
                                <li>déconnexion<div href="{{ path('logout') }}" class="line"></div></li>
                            {% endif %}
                        </ul>
                        <div id="close"><i class="far fa-times-circle fa-3x"></i></div>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}

        <section id="intro">
            <div class="intro-overlay"></div>
            <div class="container has-text-centered">
                <div id="zoom">
                    <h2 class="title is-1">Développeur Web</h2>
                    <button h class="button is-outlined is-link is-large">Découvrir</button>
                </div>
            </div>
        </section>

        <section id="main"></section>

        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('portfolio_react') }}
        {% endblock %}

    </body>
</html>
