<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}Bienvenue{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
            <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/images/apple-icon-57x57.png') }}">
            <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/images/apple-icon-60x60.png') }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/images/apple-icon-72x72.png') }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/images/apple-icon-76x76.png') }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/images/apple-icon-114x114.png') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/images/apple-icon-120x120.png') }}">
            <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/images/apple-icon-144x144.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/images/apple-icon-152x152.png') }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-icon-180x180.png') }}">
            <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('build/images/android-icon-192x192.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/images/favicon-96x96.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
            <link rel="manifest" href="{{ asset('build/images/manifest.json') }}">
        {% endblock %}
    </head>

    <body>

        <header>
            <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="{{ path('homepage') }}"><img class="navbar-item logo" src="{{ asset('build/images/logo.png') }}" alt="logo"></a>
                    </div>
                    <div class="navbar-menu has-text-centered">
                        <div class="navbar-end">
                            <a href="#ancrebase" class="navbar-item">
                                <i class="fas fa-home"></i>
                            </a>
                            <a href="/#ancreApropos" class="navbar-item">A propos</a>
                            <a href="/#ancreCompetences" class="navbar-item">Compétences</a>
                            <a href="/#ancreExperiences" class="navbar-item">Expériences/Diplômes</a>
                            <a href="/#ancrePortfolio" class="navbar-item">Portfolio</a>
                            <a href="/#ancreContact" class="navbar-item">Contact</a>
                            {% if app.user %}
                                <a href="{{ path('logout') }}" class="navbar-item">déconnexion</a>
                                <a href="/admin" class="navbar-item">dashboard</a>
                            {% endif %}
                        </div>
                    </div>
                    <div id="MenuIcon">
                            <div id="MenuLine"></div>
                    </div>

                    <div id="MainMenu">
                        <div id="logobis"><img src="{{ asset('build/images/logo.png') }}" alt="logo"></div>
                        <ul class="designMenu" >
                            <a href="/#ancrebase"><li><i class="fas fa-home"></i><div href="#" class="line"></div></li></a>                                   
                            <a href="/#ancreApropos"><li>A propos<div href="#" class="line"></div></li></a>
                            <a href="/#ancreCompetences"><li>Compétences<div href="#" class="line"></div></li></a>
                            <a href="/#ancreExperiences"><li>Expériences/Diplômes<div href="#" class="line"></div></li></a>
                            <a href="/#ancrePortfolio"><li>Portfolio<div href="#" class="line"></div></li></a>
                            <a href="/#ancreContact"><li>Contact<div class="line"></div></li></a>
                            {% if app.user %}
                                <a href="{{ path('logout') }}"><li>déconnexion<div class="line"></div></li></a>
                                <a href="/admin"><li>dashboard<div class="line"></div></li></a>
                            {% endif %}
                        </ul>
                        <div id="close"><i class="far fa-times-circle fa-3x"></i></div>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}

        <section id="intro">
            <div id="ancrebase" class="intro-overlay"></div>
            <div class="container has-text-centered">
                <div id="zoom">
                    <h2 class="title is-1">Développeur Web</h2>
                    <a href="#ancreApropos"><button class="button is-outlined is-link is-large">Découvrir</button></a>
                </div>
            </div>
        </section>

        <section id="main"></section>

        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('portfolio_react') }}
        {% endblock %}

    </body>
</html>
